<div class="container">
    <div class="card">
        <div class="card-header bg-primary">
            <h2>{{pageTitle}}</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="filterText">Filter By:</label>
                <input type="text" class="form-control" id="filterText" [(ngModel)]="filterBy"
                (keyup)="filterList($event)"/>
            </div>
            <div class="form-group">
                <div>Filtered By: {{filterBy}}</div>
            </div>
        </div>
    </div>
    <div *ngIf='filteredProducts && filteredProducts.length'>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th>Product Name</th>
                <th>Type</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr *ngFor='let product of filteredProducts'>
                    <td>{{product.name}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>